<h1>
  {{title}}
</h1>
<form method="POST">


  <fieldset>
    <label for="name" class="col-2">
     Team Name:
    </label>
    <input name="teamname" id="teamname" required />
  </fieldset>
  <fieldset>
    <label for="teamcoach" class="col-2">
      Team Coach:
    </label>
    <input name="teamcoach" id="teamcoach" required  />
  </fieldset>
  <fieldset>
    <label for="teamleague" class="col-2">
      Team Leauge:
    </label>
    <input name="teamleague" id="teamleague" required />
  </fieldset>
  

  <button class="offset-3 btn btn-primary">
    Save
  </button>
</form>