<h1 class="AboutMain">About</h1>
<p class="Aboutpara">My name is Abdallah Bilal. I am a student in georgian college studying computer programming and analysis. I am taking a course Javascript Frameworks. I have made a football database for my asiignment. Hopefully it turns out good. Lets hope I get full marks for this. </p>
