
<p class="IndexTitle">Welcome to Abdallah's Football Database</p>

<p class="IndexPara">Here you will find a huge list of active Football clubs and their respective leagues. You will see their team coaches as well as players. Please let us know if you want any other features added in. </p>
